<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.chen.system.mapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.star.chen.system.model.Dept" >
    <constructor >
      <idArg column="dep_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="dep_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dep_TELE" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    dep_id, dep_NAME, dep_TELE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dep
    where dep_id = #{depId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dep
    where dep_id = #{depId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.star.chen.system.model.Dept" >
    insert into dep (dep_id, dep_NAME, dep_TELE
      )
    values (#{depId,jdbcType=BIGINT}, #{depName,jdbcType=VARCHAR}, #{depTele,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.star.chen.system.model.Dept" >
    insert into dep
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        dep_id,
      </if>
      <if test="depName != null" >
        dep_NAME,
      </if>
      <if test="depTele != null" >
        dep_TELE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        #{depId,jdbcType=BIGINT},
      </if>
      <if test="depName != null" >
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depTele != null" >
        #{depTele,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.star.chen.system.model.Dept" >
    update dep
    <set >
      <if test="depName != null" >
        dep_NAME = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depTele != null" >
        dep_TELE = #{depTele,jdbcType=VARCHAR},
      </if>
    </set>
    where dep_id = #{depId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.star.chen.system.model.Dept" >
    update dep
    set dep_NAME = #{depName,jdbcType=VARCHAR},
      dep_TELE = #{depTele,jdbcType=VARCHAR}
    where dep_id = #{depId,jdbcType=BIGINT}
  </update>
</mapper>