<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.chen.system.mapper.SysPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.star.chen.system.model.SysPermission" >
    <constructor >
      <idArg column="MENUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MENUNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ICON" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    MENUID, MENUNAME, ICON, URL, PID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_permissions
    where MENUID = #{menuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_permissions
    where MENUID = #{menuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.star.chen.system.model.SysPermission" >
    insert into t_permissions (MENUID, MENUNAME, ICON, 
      URL, PID)
    values (#{menuid,jdbcType=VARCHAR}, #{menuname,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.star.chen.system.model.SysPermission" >
    insert into t_permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        MENUID,
      </if>
      <if test="menuname != null" >
        MENUNAME,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="pid != null" >
        PID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        #{menuid,jdbcType=VARCHAR},
      </if>
      <if test="menuname != null" >
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.star.chen.system.model.SysPermission" >
    update t_permissions
    <set >
      <if test="menuname != null" >
        MENUNAME = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        PID = #{pid,jdbcType=VARCHAR},
      </if>
    </set>
    where MENUID = #{menuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.star.chen.system.model.SysPermission" >
    update t_permissions
    set MENUNAME = #{menuname,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=VARCHAR}
    where MENUID = #{menuid,jdbcType=VARCHAR}
  </update>
</mapper>